

/* Top Banner */
section.top-banner {
    display: flex;
    color: #fff;
    background-color: #414142;
    position: relative;
    z-index: 1;
    align-items: center;
    background-attachment: fixed;
    text-align: center;
    margin-bottom: 8em;
    padding: 5% 0 18%;
}
 section.top-banner nav {
     margin: 0 auto;
     width: fit-content;
}
 section.top-banner nav ol.breadcrumb a {
     color: #fff;
}
 section.top-banner nav ol.breadcrumb li.breadcrumb-item {
     color: #fff;
     text-transform: uppercase;
}
 section.top-banner nav ol.breadcrumb li.breadcrumb-item::before {
     color: #fff;
}
 section.top-banner h1 {
     position: relative;
     margin-bottom: 1em;
}
 section.top-banner h1:after {
     content: "";
     position: absolute;
     left: 0;
     right: 0;
     width: 30px;
     border-bottom: 2px solid #F36823;
     bottom: -18px;
     margin: 0 auto;
}
img.success-stories-img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}



.google-reviews-wrapper .card .card-header {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.google-reviews-wrapper .card {
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #F5F7FA;
    padding: 15px 0px 30px;
    border-radius: 0;
    margin-bottom: 7em;
}

.google-reviews-wrapper .card .card-header figure:first-child {
    border-radius: 100%;
    background-color: #F69320;
    padding: 3px;
    position: absolute;
    top: -5em;
    left: 2em;
}
.google-reviews-wrapper .card .card-header figure:first-child svg {
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;

}

.row.google-reviews-wrapper {
    margin-top: 8em;
}

.google-reviews-wrapper .card .card-header figure:last-child {
    padding: 10px 15px;
    margin: 0;
    background-color: #fff;
    height: 60px;
}

.google-reviews-wrapper .card .card-body {
    padding: 0 45px;
}

.google-reviews-wrapper .card .card-body h6 {
    color: #222729;
    font-size: 17px;
    margin-bottom: 5px;
}
.google-reviews-wrapper .card .card-body p.company_name {
    color: #919394;
    font-size: 12px;
    line-height: normal;
}

.google-reviews-wrapper .card .card-body p.company_name {
    color: #919394;
    font-size: 12px;
    line-height: normal;
}
.google-reviews-wrapper .card .card-body p.para {
    font-size: 14px;
    margin-bottom: 0;
}

.google-start-rating {
    display: flex;
    padding: 0 0 15px;
}
.star-rating span.star.active {
    color: #f69320;
}


section#impact_of_buildrich {
    background: #07294D;
}
#impact_of_buildrich p.para {
    text-align: center;
    /*width: 43%;*/
    margin: 10px auto;
    color: #fff;
}

ul.student_list {
    display: flex;
    align-items: center;
    margin-top: 2.5em;
    margin-bottom: 0;
}

ul.student_list li {
    margin: 0 15px;
}
ul.student_list li img { width: 100%; }


a.btn_Inquire_Now {
    color: #fff;
    background: #F36823;
    padding: 8px 18px;
    cursor: pointer;
    margin-left: auto;
    display: block;
    width: fit-content;
}

section#our_hiring_partnerts .card {
    border-radius: 0;
    padding: 30px;
    margin-bottom: 5px;
    background: #F5F7FA;
}
section#our_hiring_partnerts .card h2 {
    color: #F78E0B;
    font-size: 44px;
    font-weight: 300;
    line-height: 34px;
}
section#our_hiring_partnerts .card p {
    color: #000;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
}


ul#company_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul#company_list li img {
    margin: 0 auto;
    width: 120px;
}
ul#company_list li {
    border: 1px solid rgba(253, 202, 204, 0.99);
    background: #FFF;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 22%;
    margin-bottom: 25px;
    align-items: center;
    padding: 15px 0;
}


/* Student Placement */
 section#students_placement {
     background-color: #F5F7FA;
}
 #students_placement .col-lg-2 {
     width: 15%;
}
 #students_placement .col-lg-10 {
     width: 85%;
}
 div#js-prev4 {
     display: flex;
     background-color: #414142;
     align-items: center;
     justify-content: center;
     height: 35px;
     width: 35px;
     color: #fff;
     position: relative;
     right: 0;
     left: 60%;
     top: 23px;
}
 div#js-next4 {
     display: flex;
     background-color: #414142;
     align-items: center;
     justify-content: center;
     height: 35px;
     width: 35px;
     color: #fff;
     position: relative;
     top: 50px;
     right: 0;
     left: 60%;
}
 .students_placement_slider .card h6 {
     color: #07294D;
     margin: 0;
}
 .students_placement_slider .card p.small {
     margin-bottom: 8px;
     color: rgba(7, 41, 77, 0.50);
}
 .students_placement_slider .card p {
     font-size: 12px;
     color: #535967;
}
/* FAQ */
 div#accordion_faq_1 .card {
     border-radius: 0;
     border-bottom: 0;
     border-color: #ccc;
}
 div#accordion_faq_1 .card:last-child {
     border-bottom: 1px solid #ccc;
}
 div#accordion_faq_1 .card-body i {
     color: #ffbf07;
}
 section.callback-section input.wpcf7-form-control.wpcf7-submit {
     background-color: #F36823;
     border: 0;
     color: #fff;
     margin-left: auto;
     display: flex;
     text-transform: uppercase;
     padding: 5px 15px;
     margin-top: 25px;
}



/* Media Query */

@media(max-width: 1199px) {
     section.top-banner {
        padding: 5% 0 22%;
    }
}

@media(max-width: 992px) {
     section#faq img {
         display: block;
         margin: 0 auto 2em;
    }

   ul#company_list li img {
    width: 100px;
    }

    img.success-stories-img { width:80%; }

}
 @media(max-width: 767px) {
    ul.student_list {
        flex-wrap: wrap;
    }
    ul.student_list li {
        width: 41%;
        margin: 0 auto 10px;
    }

    ul#company_list li {
    width: 47%;
}

ul#company_list {
    margin-top: 20px;
}


     img.d-block.ms-auto {
         margin-left: auto;
         margin-right: auto;
    }
    
     ul.benefit-list.d-flex li {
         width: 100%;
    }

     #students_placement .card.p-0.border-0 {
         width: 75%;
         position: relative;
         left: 6%;
    }
     section.callback-section figure {
         margin-bottom: 2em !important;
    }
}